* {
    margin: 0 auto;
    font-family: sans-serif;
}
body {
    background-color: rgb(0, 162, 255);
}
.box {
    margin-top: 50px;
    display: flex;
    align-items: center;
 }

 .box1 {
    color: white;
    margin-left: 60px;
 }

 .boxgr {
    color: white;
    margin-top: 55px;
 }
 img {
    width: 150px;
    height: 100px;
 } 